<main>

  <%= render "public/users/list" %>

  <% if I18n.locale.to_s == "ja" %>
    <%= render "public/posts/ja/new", post: @post  %>
  <% else %>
    <%= render "public/posts/en/new", post: @post %>
  <% end %>

</main>