<div class="search-box gradient">
  <p>
    Enter the <strong>"nickname"</strong> of the user you wish to search for
  </p>
  <div class="search-form">
    <%= form_with url: users_path, method: :get, local: true do |f| %>
      <%= f.text_field :name, placeholder:"nickname" %>
      <%= f.submit :search %>
    <% end %>
  </div>
</div>