<main>

  <%= render "public/users/list" %>

  <% if I18n.locale.to_s == "ja" %>
    <%= render "public/follows/ja/followings" %>
  <% else %>
    <%= render "public/follows/en/followings" %>
  <% end %>
</main>
