/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "skippr";

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    display: flex;
}

 .before_login_header {
    height:110px;
    text-align: center;
    border-bottom: 2px solid #82D92B;
 }

 .login-header {
    border-bottom: 2px solid #82D92B;
    display: flex;
    width: 100%;
    height: 100px;
 }

 .header-list {
    margin: auto 0;
 }

.n-circle {
    position: absolute;
    padding-left: 20px;
    padding-bottom: 55px;
    color: #efa04c;
}

.logo {
  border-radius: 50%;
  width: 100PX;
  height: 100px;
}

.gradient {
  width: 100%;
  background: linear-gradient(0deg, #B1F250 0%, #F2EFEB 100%);
}

.gradient-post-index {
  width: 100%;
  background: linear-gradient(180deg, #C8F288 0%, #F2EFEB 100%);
}

.menu {
  list-style: none;
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  margin-top: 102px;
  padding: 0 0 10px 0;
  clear: both;
  background: linear-gradient(45deg, #B1F250 0%, #F2EFEB 100%);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
  z-index: 10;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.menu a {
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 15px;
  text-transform: capitalize;
  color: #6DA644;
  opacity: 0;
  transition: 0.5s;
}

.menu li {
  border-top: 1px solid #6DA644;
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #6DA644;
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  padding: 3px 0;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #6DA644;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

 .side-left {
    background-image: url("22582227.jpg");
    background-position: center;
    background-size: contain;
    width:15%;
    min-height: 100%;
 }

 main {
    width: 70%;
    margin-bottom: 40px;
    background-color: #FFF;
    min-height: 100vh;
 }

 .fa-regular {
     font-size: 30px;
     color: #6DA644;
 }

 .top-btn {
    text-align: center;
 }

 .top-btn-custom {
    width: 75%;
 }

 .top-admin-btn {
    margin-top: 0px;
    text-align: center;
    width: 75%;
 }

 .top-btn-text {
    color: #333631;
    margin-bottom: 0;
    line-height: 0.5;
 }

 #skippr {
    height: 500px;
 }

 .image1 {
   background-image: url("image1.jpg");
 }

 .image2 {
   background-image: url("image2.jpg");
 }

 .image3 {
   background-image: url("image3.jpg");
 }

 .image4 {
   background-image: url("image4.jpg");
 }

 .top-icon {
   width: 100%;
   height: 70%;
 }

 .top-text {
   text-align: center;
   border: 3px solid black;
   border-radius: 10px;
   background-color: #FCC900;
   padding: 10px;
   margin-top: 60px;
 }

 .login-title {
    margin: 30px 0;
    text-align: center;
 }

 .field {
    text-align: left;
    margin: 0 auto 20px;
    width: 60%;
 }

 .actions {
     text-align: center;
 }

 .btn-custom {
    width: 60%;
    padding: 10px;
    margin-top: 25px;
 }

 .delete-btn {
    margin-top: 50px;
    text-align: center;
 }

 .delete-btn-custom {
    width: 130px;
 }

 .danger-text {
    text-align: center;
 }

 .user-profile-img {
    position: absolute;
    z-index: 0;
 }

 .user-show-name {
    font-size: 30px;
 }

 .user-show-btn {
    width: 100%;
 }

.user-show-introduction {
    border: 1px solid #82D92B;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0 20px;
}

.tab-menu {
    display: flex;
}

.tab-content {
    width: 15%;
    border: 1px solid #82D92B;
    background-color: #6DA644;
    padding: 15px 0 15px;
    text-align: center;
}

.tab-btn {
    color: #F2EFEB;
    margin-bottom: 0;
}

.tab-list {
    border: 1px solid #6DA644;
    padding: 10px;
    margin-bottom: 30px;
}

.user-image-list {
    display: flex;
    flex-wrap: wrap;
}

.user-image-link {
    width: 32%;
    margin: 0 2% 2% 0;
    border: 1px solid #6DA644;
    border-radius: 10px;
}

.user-image-link:nth-child(3n) {
    margin-right: 0;
}

.user-image-link:nth-child(n+7) {
    margin-bottom: 0;
}

.user-image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.pagination {
    margin: 15px 0 15px;
    justify-content: center;
}

.pagination a {
    color: black;
}

.page {
    margin: 0 5px 0;
    padding: 0 8px;
    border-radius: 50%;
    background-color: #FCC900;
}

.next, .last, .first, .prev {
    margin: 0 3px 0;
    padding: 0 8px;
    border-radius: 50%;
    background-color: #FCC900;
}

.title {
    margin: 40px auto;
    text-align: center;
}

.form-image {
    text-align: center;
}

.new-img {
    width: 60%;
}

.search-box {
    border: 2px solid #6DA644;
    border-radius: 10px;
    width: 60%;
    margin: 180px auto 0;
    padding: 80px;
    text-align: center;
}

.search-form {
    margin-top: 60px;
}

.user-index {
    width: 60%;
    margin: 0 auto;
}

.user-index-text {
    margin: 30px 0;
}

.user-count {
    font-size: 30px;
}

.user-index-card {
    display: flex;
    border: 2px solid #6DA644;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 10px;
}

.user-index-img {
    width: 80px;
    height: 80px;
}

.user-profile-imgcustom {
    width: 80px;
    height: 80px;
}

.user-index-name {
    margin: auto 0 auto 30px;
}

.user-index-namecustom {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    color: #127369;
    text-shadow: 2px 2px 3px #999;
}

.post-show {
    margin-top: 30px;
    padding: 0 100px 0;
    height: 100px;
}

.post_show_item {
    padding: 0 100px 0;
}

.post_show_content{
    padding: 5px 85px;
    display: flex;
    justify-content: space-between;
}

.post-show-img {
    width: 100%;
}

.post-show-text {
    margin: 0 85px 0;
    border: 1px solid #82D92B;
    border-radius: 10px;
    padding: 10px 20px;
}

#comment_input {
    margin: 20px 85px 0;
}

#comment_list {
    margin: 20px 85px 0;
}

.comment_text {
    border: 1px solid #82D92B;
    border-radius: 10px;
    margin: 0 0 0 80px;
    padding: 10px;
    background-color: #C8F288;
}

.comment_delete {
    text-align: right;
    margin-bottom: 20px;
}

.post-index-top {
    width: 100%;
    margin: 30px auto;
}

.post-index-form {
    margin: auto 0 auto auto;
}

.post-index-formcustom {
    width: 300px;
}

.post-index-box {
    width: 100%;
}

.post-index-content {
    display: flex;
    flex-wrap:wrap;
}

.post-index-list {
    width:32%;
    border: 2px solid #6DA644;
    border-radius: 10px;
    background-color: #F2EFEB;
    padding: 10px;
    margin-right: 2%;
    margin-bottom: 3%;
}

.post-index-list:nth-child(3n) {
    margin-right:  0;
}

.post-index-list:nth-last-child {
    margin-bottom:  0;
}

.index-page {
    margin-bottom: 40px;
}

.post-index-image {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.post-index-user {
    display: flex;
}

.post-index-info {
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.post-favorite {
    margin: auto 0 0 auto;
}

.post-delete {
    margin-top: 50px;
    text-align: center;
}

.favorite-color {
    color: #66cdaa;
    font-size: 25px;
}

.unfavorite-color {
    color: black;
    font-size: 25px;
}

.follow-title {
    font-size: 25px;
    margin: 30px 0;
}

.notification-delete {
    width: 70%;
    margin: 20px auto 20px auto;
    text-align: right;
}

.notification-index {
    width: 80%;
    margin: 30px auto 0;
}

.unnotification-index {
    width: 80%;
    margin: 30px auto 0;
}

.link-color {
    color: #6DA644;
}

.name-size {
    font-size: 20px;
}


.admin-header {
    display: flex;
    border-bottom: 2px solid #6DA644;
}

.admin-header-item1 {
    margin-right: auto;

}

.admin-header-item2 {
    margin: auto 0 auto auto;
}

.admin-btn {
    width: 130px;
}

.admin-index-box {
    width: 80%;
    margin: 0 auto;
}

.admin-index-title {
    margin: 30px 0;
}

.admin-index-list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #82D92B;
    background-color: #C8F288;
    padding: 10px;
}

.admin-index-user {
    width: 30%;
    margin: 0 5% 3% 0;
    border: 2px solid #6DA644;
}

.admin-index-user:nth-child(3n) {
    margin-right: 0;
}

.admin-user-img {
    width: 100%;
    height: 150px;
}

.admin-index-info {
    background-color: #F2EFEB;
    padding: 5px;
}

.admin-index-name {
    color: #6DA644;
}

.admin-index-false {
    color: #6DA644;
}

.is-deleted-true {
    color: red;
}

.admin-show-info {
    margin-top: 30px;
    display: flex;
    background-color: #F2EFEB;
}

.admin-show-profile-image {
    border: 2px solid #6DA644;
}

.admin-show-profile {
    margin: auto 0 auto 40px;
}

.admin-show-name {
    font-size: 30px;
}
.admin-show-introduction {
    width: 60%;
    margin: 20px auto 0;
    border: 1px solid #82D92B;
    border-radius: 10px;
    padding: 10px;
    background-color: #F2EFEB;
}

.admin-show-deleted {
    font-size: 25px;
}

.admin-show-box {
    border: 1px solid #6DA644;
    margin: 20px 0px;
    padding: 10px;
}

.admin-show-list {
    display: flex;
    flex-wrap: wrap;
}

.admin-show-img {
    width: 30%;
}

.admin-edit {
    width: 60%;
    margin: 30px auto;
}

.error-text {
    width: 60%;
    margin: 0 auto;
    list-style: none;
    color: red;
}

#error_explanation {
    color: red;
}

#error_explanation ul {
    width: 60%;
    margin: 0 auto 20px;
    list-style: none;
}

.side-right {
    transform: scale(-1, 1);
    background-image: url("22582227.jpg");
    background-position: center;
    background-size: contain;
    width:15%;
    min-height: auto;
 }

footer {
    width: 100%;
    padding: 30px 0;
    margin-top: auto;
    background-image: url("footer.png");
    background-size: auto;
    background-position: bottom;
}

 .footer-text {
    text-align: center;
    font-size: 20px;
 }

