<header>
  <nav class="admin-header">
    <div class="admin-header-item1">
      <%= image_tag "logo.jpg", size:"100x100" %>
    </div>
    <div class="admin-header-item2">
      <%= link_to "ユーザー一覧", admin_users_path, class:"btn btn-success admin-btn" %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-success admin-btn" %>
    </div>
  </nav>
</header>