<% if @favorites.count >= 1 %>
  <div class="user-image-list">
    <% @favorites.each do |favorite| %>
      <div class="user-image-link">
        <%= link_to post_path(favorite.post.id) do %>
          <%= image_tag favorite.post.image, class:"user-image" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @favorites, remote: true %>
<% else %>
  <p>まだいいねした投稿はありません</p>
<% end %>