<header class="login-header">
  <% if I18n.locale.to_s == "ja" %>
    <%= render "public/users/ja/list" %>
  <% else %>
    <%= render "public/users/en/list" %>
  <% end %>
</header>
<div class="language">
  <% if I18n.locale.to_s == "en" %>
    <%= link_to("日本語", { locale: "ja" }, { class:"language_btn" }) %>
  <% else %>
    <%= link_to("English", { locale: "en" }, { class:"language_btn" }) %>
  <% end %>
</div>