<% if @posts.count >= 1 %>
  <div class="user-image-list">
    <% @posts.each do |post| %>
      <div class="user-image-link">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image, class:"user-image" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @posts, remote: true %>
<% else %>
  <p>投稿した写真はありません</p>
<% end %>





